In [ ]:
%reload_ext autoreload
%autoreload 2

In [ ]:
import numpy as np
import pandas as pd
import hopsworks

In [ ]:
import os
from dotenv import load_dotenv, find_dotenv

zzz = load_dotenv(find_dotenv())
zzz

True

## DOWNLOAD & PROCESS 3 YRS DATA INTO TIMESERIES DATAFRAME FORMAT:

In [ ]:
from src.feature_pipeline import taxi_download_timeseries_month, taxi_download_timeseries_year

In [ ]:
location = 90

df_demand_2020 =  taxi_download_timeseries_year(2020, location, resample_rate = 'h')
df_demand_2021 =  taxi_download_timeseries_year(2021, location, resample_rate = 'h')
df_demand_2022 =  taxi_download_timeseries_year(2022, location, resample_rate = 'h')

100%|██████████| 12/12 [07:27<00:00, 37.25s/it]

exceptions encountered: []

100%|██████████| 12/12 [09:49<00:00, 49.10s/it]

exceptions encountered: []

100%|██████████| 12/12 [12:12<00:00, 61.05s/it]

exceptions encountered: []

In [ ]:
combine = [df_demand_2020, df_demand_2021, df_demand_2022]
df_demand_2020_2022 = pd.concat(combine)

df_demand_2020_2022

              date_time  demand
0   2020-01-01 00:00:00     266
1   2020-01-01 01:00:00     231
2   2020-01-01 02:00:00     244
3   2020-01-01 03:00:00     259
4   2020-01-01 04:00:00     144
..                  ...     ...
739 2022-12-31 19:00:00      99
740 2022-12-31 20:00:00     101
741 2022-12-31 21:00:00     103
742 2022-12-31 22:00:00      63
743 2022-12-31 23:00:00      57

[26304 rows x 2 columns]

In [ ]:
## DATA_PATH = './data/transformed/'
## df_demand_2020_2022 = pd.to_parquet(DATA_PATH + 'df_demand_2020_2022_loc_90.parquet')

## BACKFILL(INSERT) PAST 3 YRS DATA TO FEATURE STORE:

In [ ]:
from src.feature_pipeline import taxi_insert_data_into_feature_store

In [ ]:
df_demand = df_demand_2020_2022
feat_group_name = 'nyc_taxi_demand_timeseries_backfilled_2020_22'
feat_group_ver = 1

taxi_insert_data_into_feature_store(df_demand, feat_group_name, feat_group_ver)

Connection closed.
Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/571540
Connected. Call `.close()` to terminate connection gracefully.
Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/571540/fs/567363/fg/661860

Uploading Dataframe: 0.00% |          | Rows 0/26304 | Elapsed Time: 00:00 | Remaining Time: ?

Launching job: nyc_taxi_demand_timeseries_backfilled_2020_22_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/571540/jobs/named/nyc_taxi_demand_timeseries_backfilled_2020_22_1_offline_fg_materialization/executions
data successfully inserted in feature store